@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arima", system-ui;
}

img{
    width: 100%;
}
.container{
    max-width:1536px !important;
    margin: 0 auto;
    position: relative;
    padding: 0 !important;
}
.admin{
  background: #F6F5F2;
}
.buttonAction{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.topadmin {
    background: #FD9291;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 10px;
}

span{
    font-size: 19px;
}
.icon{
    max-width: 30px;
    margin-right: 20px;
    font-size: 30px;
}
.mainadmin{
    display: flex;
    height: calc(100vh);
}
.adminleft{
    max-width: 19%;
    background: #FD9291;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-top: 40px;
    color: white;
}
.adminleft li{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 15px ;
    border-top: 1px solid whitesmoke;
}
.adminleft li:hover{
    cursor: pointer;
    color: #000;
    background: #F6F5F2;
}

.adminleft > div:last-child{
    margin-top: 20px;
    border-top: 1px solid #bfbfbf;
}
.adminleft > div:last-child div{
    margin: 20px 0;
}
.adminright{
    max-width: 81%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
table{
  max-width: 1200px;
}
table, th, td{
  border: 1px solid black !important;
  border-collapse: collapse !important;
  text-align: center;
} 
.tablecalendar thead th{
  width: calc(90%/7);
}
.tablecalendar thead th:first-child{
  width: 10%;
}
tr input{
    cursor: pointer;
}
th, td{
    padding: 10px 10px;
    
}
td{
    font-size: 14px;
}
td .imgproduct{
  max-width: 80px;
}
td i{
    cursor: pointer;
}
button{
  background: #8f6e4b;
  padding: 10px 20px;
  border: 1px solid #9e6c5c;
  box-shadow: 1px 1px 3px 1px #7e7e7e;
  cursor: pointer;
  color:white;
}

/* form */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}
h1{
  font-size: 40px;
  margin-bottom: 20px;
}
@keyframes righttoleft {
  from {
      transform: translateX(100%);
  }
  to {
      transform: translateX(0);
  }
}
@keyframes lefttorifht {
  from {
      transform: translateX(0);
  }
  to {
      transform: translateX(100%);
  }
}
#contentModal {
  background-color: #fefefe;
  padding: 20px 100px;
  border: 1px solid #888;
  max-width: 850px;
  width: 100%;
  float: right;
  overflow-x: scroll;
  height: 100%;
}

.modal-content form >div,#addFields >div{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.modal-content form input{
  max-width: 400px;
  width: 100%;
  height:25px;
  padding: 5px 0px;
  padding-left: 5px;
}
.modal-content form input:focus{
  outline: none;
}
#addFields{
  display: block;
}
textarea{
  width: 400px;
  padding: 5px 0px;
  padding-left: 5px;
}
textarea:focus{
  outline: none;
}
select{
  max-width: 400px;
  width: 100%;
  text-align: center;
}
.modal-content form label{
  font-size: 20px;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  text-align: end;
}

.close:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}


#pagination{
  text-align: center;
  margin-top: 20px;
}
#pagination span{
  padding: 5px 10px;
  border: 1px solid #000;
  margin: 0;
}
#pagination span:hover{
  cursor: pointer;
}

